* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    width: 800px;
} */

/* #root {
    display: flex;
    justify-content: center;
} */

.card {
    width: 300px;
    border: 2px solid teal;
}

